.logo{
				width: 300px;
				height: 300px;
				margin-left: 15%;
			
}
.logo-body{
				background: #000000;
}
.body{
				padding: 0px;
				margin: 0px;
				background: #000000;
				margin-top: -50px;
}
.soon{
				background: #000000;
				width: 100px;
    height: 40px;
    margin-left: 40%;
    margin-top: -150px;
}
.text{
				color: #ffffff;
				font-style: italic;
}
.copy{
				color: #252525;
				width: 200px;
				margin-top: -10px;
				margin-left: -30px;
				
}

}

@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700,300);
*, html {
  margin: 0;
  padding: 0;
}




svg {
  width: 50px;
  height: 100px;
  margin: 20px;
  display: inline-block;
  background: #000000;
  margin-top: 85%;
  margin-left: 32%;
  
}

h1 b {
  font-weight: 700;
}

.made-with-love {
  margin-top: 20px;
  padding: 10px;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}
